useDynLib(reporter, .registration = TRUE)
import(corrr)
import(crayon)
import(dplyr)
import(GoodmanKruskal)
import(magrittr)
import(pryr)
import(Rcpp)
import(stringr)
import(tibble)
import(tidyr)
export(report_association)
export(report_cor)
export(report_imbalance)
export(report_na)
export(report_space)
export(report_types)
export(report)