useDynLib(reporter, .registration = TRUE)
import(dplyr)
import(GoodmanKruskal)
importFrom(magrittr, `%>%`)
import(Rcpp)
import(stringr)
import(tibble)
import(tidyr)
export(report_association)
export(report_cor)
export(report_imbalance)
export(report_levels)
export(report_na)
export(report_numeric)
export(report_space)
export(report_types)
export(report)